<html>
  <head>
      <style>
          body {
      background: #9CECFB;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #00695c, #26a69a, #4bc2b6);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #00695c , #26a69a, #4bc2b6);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
        </style>
  </head>
  <body>
    <br>
      <main role="main" class="container">
        
          <div class="jumbotron bg-img text-center">
            <h1>Enigma Bank</h1><hr>
            <p class="lead">Established since 2019, 
              we are present in the Indonesian community and have grown to become one of the 
              largest banks in Indonesia. We never stopped offering 
              a variety of banking solutions that answer the financial needs of customers from 
              various walks of life.

              Through a variety of quality and targeted products and services, 
              EB's financial solutions support personal financial planning and 
              the development of business customers. Supported by the strength of 
              inter-branch networks, the breadth of ATM networks, and other electronic 
              banking networks, anyone can enjoy the convenience and convenience of transactions 
              offered by Enigma Bank.</p>
          </div>
        </main>
        <br><br><br><br><br><br>
  </body>
</html>

