<html>
  <head>
      <style>
          body {
      background: #9CECFB;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #00695c, #26a69a, #4bc2b6);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #00695c , #26a69a, #4bc2b6);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
        </style>
  </head>
  <body>
    <br>
      <main role="main" class="container">
          <div class="jumbotron">
            <h1>Contact</h1><hr>
            <p class="lead">Email    : customer@enigma.com</p>
            <p class="lead">Telp     : (021) 87878787</p>
            <p class="lead">Address  : Jln. Merbabu No.792 Ciputat, Tanggerang Selatan.</p>
          </div>
        </main>
        <br><br><br><br><br><br><br><br><br>
  </body>
</html>