<br>
<ul><h1> WithDraw List </h1></ul>
<hr>
<ul><button type="button" class="btn btn-success" routerLink="/tarik-tunai-form">Insert</button></ul>
<div class="table-responsive">
    <div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <th>Account Number</th>
      <th>Amount</th>
      <th>Payment Method</th>
      <th>Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let top of listTarik | paginate: { itemsPerPage: 5, currentPage: p}">
        <td>{{top.account.accountNumber}}</td>
        <td>{{top.amount}}</td>
        <td>{{top.method}}</td>
        <td>{{top.date}}</td>
      </tr>
    </tbody>
  </table>

    <div class="text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
</div>