<br>
<ul><h1> Transfer List </h1></ul>
<hr>
<ul><button type="button" class="btn btn-success" routerLink="/transfer-form" >Insert</button></ul>
<div class="table-responsive">
    <div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <th>Account Number</th>
      <th>Account Destination</th>
      <th>Name Of Bank</th>
      <th>Amount</th>
      <th>Date Time</th>
    </thead>
    <tbody>
        <tr *ngFor="let tr of listTransfer | paginate: { itemsPerPage: 5, currentPage: p}">
        <td>{{tr.account.accountNumber}}</td>
        <td>{{tr.recepient}}</td>
        <td>{{tr.nameBank}}</td>
        <td>{{tr.amount}}</td>
        <td>{{tr.date}}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
</div>