<br><br>
<div><h1 align="center">Transfer Form</h1></div>
<hr>
<br>
<div class="container">
<form class="form-horizontal" [formGroup] ="trForm">
  <div class="form-group"> &nbsp; &nbsp;
      <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span><label class="control-label col-sm-2">Account Destination :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="recepient" required>
    </div>
  </div>	
  <div class="form-group">&nbsp; &nbsp;
    <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span><label class="control-label col-sm-2">Name Of Bank :</label>
    <div class="col-sm-10">
        <select formControlName="nameBank" class="form-control" required>
            <option value="BTPN">BTPN</option>
            <option value="BCA">BCA</option>
            <option value="BRI">BRI</option>
            <option value="BNI">BNI</option>
        </select>
    </div>
  </div>
  <div class="form-group"> &nbsp; &nbsp;
      <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span><label class="control-label col-sm-2">Amount :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="amount" required>
      </div>
    </div>
  <button type="button" (click) = "cancelChanges()" class="btn btn-danger">Cancel</button>
&nbsp; <button type="button" (click) = "insertData()" class="btn btn-primary">Submit</button>
</form>
</div>



