<br><br>
<div><h1 align="center">WithDraw Form</h1></div>
<hr>
<br>
<div class="container">
<form class="form-horizontal" [formGroup] ="tarikForm">
  <div class="form-group">&nbsp; &nbsp;
      <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span><label class="control-label col-sm-2">Amount :</label>
    <div class="col-sm-10">
      <input [class.is-invalid]="tarikForm.get('amount').invalid && 
      tarikForm.get('amount').touched" type="number" class="form-control" formControlName="amount" required>
      <small   [class.d-none]="tarikForm.get('amount').valid ||tarikForm.get('amount').untouched "  class="text-danger">Please, Fill this field!!</small>
    </div>
  </div>
  <div class="form-group">&nbsp; &nbsp;
      <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span><label class="control-label col-sm-2">Payment Method :</label>
    <div class="col-sm-10">
        <select formControlName="method" class="form-control" required>
            <option value="Alfamart">Alfamart</option>
            <option value="Indomart">Indomart</option>
            <option value="OVO">OVO</option>
        </select>
    </div>
  </div>
  <button type="button" (click) = "cancelChanges()" class="btn btn-danger">Cancel</button>
&nbsp; <button type="button" (click) = "insertData(content)" class="btn btn-primary" >Submit</button>
</form>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Withdrawal Code</h4><br>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h5>{{generateNumber}}</h5>
      <p>
        Terms and Condition :
       <li>
         Please, tell the cashier to top up at Enigma Bank merchant.
       </li>
       <li>
          Show payment code to cashier and make payment.
        </li>
        <li>
            Your balance will increase if payment of success.
       </li>
      </p>
    </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="backList()" (click)="modal.close('Save click')">Close</button>
      </div>
  </ng-template>
  <hr>



