<div class="row" >
    <div class="col-md-8">
        <div class='box box-success' style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px;">
            <div class='box-header with-border' >
                <h1 *ngFor="let acc of listAccount">Hi {{acc.name}}!</h1>
                <hr>
                <h3>Your Data:</h3><br>
            </div>
      <div class="box-body">
          <div class="table-responsive">
              <table class="table table-hover" *ngFor="let acc of listAccount" >
                  <tr>
                    <th>NIK : </th>
                    <td>{{acc.nik}}</td>
                  </tr>
                  <tr>
                    <th>Birth Date : </th>
                    <td>{{acc.birthDate}}</td>
                  </tr>
                  <tr>
                        <th>Gender : </th>
                        <td>{{acc.gender}}</td>
                      </tr>
                  <tr>
                    <th>Address : </th>
                    <td>{{acc.address}}</td>
                  </tr>
                  <tr>
                    <th>Phone Number : </th>
                    <td>{{acc.phoneNumber}}</td>
                  </tr>
                  <tr>    
                    <th>Balance : </th>
                    <td>{{acc.balance}}</td>
                  </tr>
                  <tr>
                    <th>Status : </th>
                    <td class="text-white bg-success">{{acc.status}}</td>
                  </tr>
                  <tr>
                    <th>Account Number : </th>
                    <td>{{acc.accountNumber}}</td>
                  </tr>
              </table>
                <div class="box-footer" *ngFor="let acc of listAccount">
                  <button type="button" (click)="selectAccount(acc)" class="btn btn-success">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>